body {
  font-family: Kalam, cursive;
  font-weight: lighter;
  font-size: 14px;

  background: radial-gradient(#FEFEFE 50%, #CFCEB5 80%, #7F7F73 100%);
}

#logo {
  width:100px;
  padding-top: 16px;
  padding-bottom: 20px;
}
#vitrine {
  width: 510px;
  padding-top: 16px;
  padding-bottom: 10px;
 }

@media only screen and (max-width: 500px) {
    #vitrine {
      width: 100%;
    }
}


.paragraphe {
  width: 85px;
}

p {
  margin-bottom: 0px
}

#reservation {
  padding-bottom: 10px;
}

.footer {
  font-size: 10px;
  font-family: Georgia;
  color: black;
  padding-top: 10px;
}

  .footer > a {
    color: #4266A0;
  }

.fa-heart {
  color:red;
}
